<%- include('header', {title: `UFO Sightings`}); -%>

<div class="container" style="padding-top: 20px">
  <h1 style="text-align: center">Sighting Shapes</h1>
  <br />

  <ul class="list-group">
    <% shapes.forEach((shape)=>{ %>
    <a href="/shapes/<%= shape %>" class="list-group-item">
      <%= shape.toUpperCase() %>
    </a>
    <br />
    <% }) %>
  </ul>
  <br />
  <a class="btn btn-secondary" href="/" role="button">Back</a>
</div>
<%- include('footer'); -%>
